APP_NAME=fastapi-observability
APP_ENV=production
LOG_LEVEL=INFO
LOG_FILE=/var/log/fastapi-observability/app.log
OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4318/v1/traces
OTEL_SERVICE_NAME=fastapi-observability-api
